{% extends "layout.html" %}
{% block title %} Slurm usage - {{ cluster_name}} {% endblock %}
{% block content %}

<div class=page>

    <h1>Slurm usage</h1>

<p>Cluster: <b>{{ cluster_name }}</b></p>

<p>Showing the top {{ITEMS_TO_SHOW}} items for each partition.</p>



<div class="container">
{% for table in tables %}
{% if table.rowstart %}
  <div class="row">
{% endif %}
  <div class="col-sm">
    <p><b>{{table.partition}}</b> partition CPU core inventory:</p>
    Total: {{ table.total }} <br/>
    Running (R): {{ table.running }}<br/>
    Pending (PD): {{ table.pending }}<br/>

    {{ table.table|safe }}
  </div>
{% if table.rowend %}
  </div> <!-- end row -->
{% endif %}
{% endfor %}
</div>


</div> <!-- class page -->

{% endblock %}
